name: node-release

on:
  push:
    tags:
      - "*"

jobs:
  publish:
    runs-on: ubuntu-latest

    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v1
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
          registry-url: https://registry.npmjs.org/

      - name: npm install
        run: npm install

      - run: npm i --no-save @sap/cds@5 express sqlite3

      - name: npm test
        run: npm test
        env:
          CI: true

      - name: npm shrinkwrap
        run: npm shrinkwrap

      - run: npm run build

      - name: npm auth & publish
        run: npm publish --access public --tag latest
        env:
          NODE_AUTH_TOKEN: ${{secrets.Z_NPM_TOKEN}}
